&--radio {
    &__table {
        width: auto;
    }
    &__inner {
        cursor: pointer;
        &__icon {
            width: 20px;
            height: 20px;
            border: 1px solid blue;
            border-radius: 50%;
        }
        &__text {
            padding-left: 10px;
        }
        &.active & {
            &__icon {
                background-color: blue;
            }
        }
    }
}
