&--radio {
    cursor: pointer;
    display: table;
    &__text,
    &__icon {
        display: table-cell;
        vertical-align: middle;
    }

    &__icon {
        width: 20px;
        height: 20px;
        border: 1px solid blue;
        border-radius: 50%;
    }
    &__text {
        padding-left: 10px;
    }
    &.active & {
        &__icon {
            background-color: blue;
        }
    }
}
