&--checkbox {
    cursor: pointer;
    display: table;
    &__text,
    &__icon {
        display: table-cell;
        vertical-align: middle;
    }
    &__icon {
        width: 20px;
        height: 20px;
        padding-left: 4px;
        border: 1px solid blue;
        font-size: 13px;
    }
    &__text {
        padding-left: 10px;
    }
    &.active & {
        &__icon::after {
            content: "\2714"
        }
    }
}
