&--checkbox {
    &__table {
        width: auto;
    }
    &__inner {
        cursor: pointer;
        &__icon {
            width: 20px;
            height: 20px;
            padding-left: 4px;
            border: 1px solid blue;
            font-size: 13px;
        }
        &__text {
            padding-left: 10px;
        }
        &.active & {
            &__icon::after {
                content: "\2714"
            }
        }
    }
}
