<div class="input-group" ng-if="!isReadonly">
    <input type="text" class="form-control"
        uib-datepicker-popup="{{format}}"
        ng-model scm-field-formatter
        is-open="popup.opened"
        max-date="today"
        min-mode="field.view.minMode"
        datepickerOptions="dateOptions"
        ng-required="true"
        close-text="Close" />
    <div class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open()"><div class="glyphicon glyphicon-calendar"></div></button>
    </div>
</div>
